{% extends "_layout.html" %}

{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div class='container'>

    <h2>Upload Image</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="{{url_for('users.upload_request', id=user.id)}}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="mb-3">
            <label for="upload-image" class="form-label">Select image:</label>
            <input type="file" class="form-control" id="upload-image" name=image_file>
        </div>
        </br>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>

{% endblock %}