{% extends "_layout.html" %}

{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<h1>@{{username}}</h1>
<img src="{{domain}}{{user.profile_picture}}" />
{% if user.is_private %}
<form action="{{url_for('users.change_privacy',id=current_user.id)}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input class="nav-link btn btn-primary" style="margin: 10px;" class="btn btn-primary" type="submit"
        value="Make Profile Public">
</form>
{% else %}
<form action="{{url_for('users.change_privacy',id=current_user.id)}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input class="nav-link btn btn-primary" style="margin: 10px;" class="btn btn-primary" type="submit"
        value="Make Profile Private">
</form>
{% endif %}

<form action="{{ url_for('logout')}}" method='POST'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-primary">Logout</button>
</form>

<form action="{{ url_for('users.upload',id= user.id)}}" method='POST'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-primary">Upload Image</button>
</form>

<form action="{{ url_for('users.edit', id=user.id) }}" method='POST'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-primary">Edit Profile</button>
</form>
<div>
    <ul>
        <h6>{{user.username}}'s Following</h6>
        {% for following in user.followings %}
        <li>{{following.following.username}}</li>
        {% endfor %}
    </ul>
</div>
<div>
    <ul>
        <h6>{{user.username}}'s Followers</h6>
        {% for follower in user.followers %}
        <li>{{follower.follower.username}}</li>
        {% endfor %}
    </ul>
</div>
{% if current_user.id == user.id or not user.is_private %}
<h2>My Images</h2>
{% for image in images %}
<a href="{{ url_for('images.show', id=image.id )}}"><img src="{{domain}}{{image.photo_url}}"
        style="height:200px; width:200px" /></a>
{% endfor %}
{% else %}
<span class="mx-auto">This profile is private. Follow @{{user.username}} to continue.</span>
{% endif %}

{% endblock %}