{% extends "_layout.html" %}

{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<p>{{username}}</p>
<p>{{currentuser}}</p>
<img src="{{domain}}{{user.profile_picture}}" />

<form action="{{ url_for('logout')}}" method='POST'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-primary">Logout</button>
</form>

<form action="{{ url_for('users.edit', id=user.id) }}" method='POST'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit" class="btn btn-primary">Edit Profile</button>
</form>
{% endblock %}